body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

 .hor{
display: inline;
float: left;

}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

input,
textarea,
select,
.uneditable-input {
  display: block-inline;
  width: 210px;
  height: 25px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.form-inline {
 display: inline-block;
 
 }

.field{
 display: inline-block;
 float: left;
}

.bill_date {
  float: left;
  font-size: 20px;
  color: white;
  background: #0074CC;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #0074CC;
  -webkit-box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 2px rgba(50, 50, 50, 0.75);
}

.bill_customer_name {
  float: left;
  margin-left: 200px;
}

.bill_customer_name input#bill_customer_name {
  height: 20px;
  width: 300px;
}

.bill_code {
  float: right;
  font-size: 20px;
  color: white;
  background: #0074CC;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #E8E6E7;
  -webkit-box-shadow: 0px 0px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 2px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 2px rgba(50, 50, 50, 0.75); 
}

div.well.items_area {
  margin-top: 25px;
}
div.bill_final_inputs div.total_amount #bill_amount{
  margin: 4px;
  margin-top: 0px;
  
}

div.bill_final_inputs #bill_advance{
  margin-top: 3px;
  margin-right: -105px;
  
}


div.bill_final_inputs #bill_balance{
  margin-top: 6px;
  margin-right: 2px;
  
}

div.well.items_area div.items_input_fields {
  
  margin: 3px;
}

form#new_bill div.bill_final_inputs input {
  float: right;
}
#select01
{
width: 50px;
height: 20px;
}
div.well.items_area div.field #bill_items_attributes_0_product_id
{
width: 100px;
}

.ui-autocomplete {
  height:30px;
  width:40px;
  overflow:auto;
  background:lightgray;
}
.billresult {
overflow: scroll;
height: 500px;
width: 100%;
}
#bills_search_form a:visited, #products_search_form a:visited {
color: white;
}
.bill
{
font-size: 15px;
}

 #company a:link, #company a:visited{
color: white;
}

.table tbody{
  border-left:1px solid ;
  border-left-color:#FEEEF0;
  border-right:1px solid #FEEEFD;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
   box-shadow: 0 0 5px #888;
}
.pagination{
  float:right;
}
#select_category {
    height: 35px;
    width: 60px;
    padding: 7px;
}

#error_explanation{
float:right;


}

#logout{

margin-left: 800px;
}
