@media only print {

 #company, .dontprint{
    display: none;
  }
    
  .navbar{
    display:none;
   }   
  .bill_buttons{
    display:none;
   }
  
  .well{
   border:0px;
   box-shadow:0 0px 0px;
   }
   
   span.noprint{
    display:none;
   }

  .total_amont a:link, a:visited {background: white; color:white; text-decoration:none;}

}
